.titleBio {
  position: absolute;
  max-width: 80%;
  text-align: center;
  margin: 70px auto;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-size: 15px;
  margin-left: 5rem;

  ::after {
    content: "|";
    margin-left: 5px;
    animation: pisca 0.7s infinite;
  }

  @keyframes pisca {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
