.containerHome {
  display: block;
  align-items: center;
  align-self: center;
  align-content: center;
 /* 
  background-image: linear-gradient(
    135deg,
    rgba(#752e7c, 0.35),
    rgba(#734a58, 0.10) 80%,
    #dcdde0 60%,
    #dcdde0 100%
  );*/
}

.left {
  justify-content: space-between;
  display: flex;
  align-items: center;
  h1 {
    margin: 20px 10px 10px 20px;
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: var(--title);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.right {
  justify-content: space-between;
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
