.containerHome {
    background-repeat:no-repeat !important;
    background-size: cover !important;
    background-position:center center !important;
    min-height:300px;
    background: var(--background-dark)
}
/*
.positionBio {
    position: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:left;
    width:100px;
}
*/